.index-page, .contact-us-page {
  .navbar {
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .navbar-scrolled {
    background: linear-gradient(230deg, #025344 2.03%, #00836B 103.43%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 60px;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    
  }
}


.navbar-expand-lg {
  
  .navbar-nav {
    gap: 24px;
    .btn {
      margin-bottom: 0px;
    }
  }
}


.hh-bg-gradient-dark {
  background-image: linear-gradient(310deg, #025344 0%, #00836B 100%);
}


.form-control {
  border-radius: 1.5rem;
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
  border-left-width: 1px;
}



@media (max-width: 991px) {
  .maps-card {
    display: none;
  }
}



@include media-breakpoint-down(lg) { 

  .index-page, .contact-us-page {
    .navbar {
      background-image: linear-gradient(310deg, #025344 0%, #00836B 100%);
      background-color: #00836B;
      box-shadow: none;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
  }
 }

 .maps-card {}