// Pages
// @import "sass/homepage";
// @import "sass/contact-us";
// @import "sass/general";
// @import "sass/navbar-hh";


// Homepage

// d-flex align-items-center
// align-middle

.index-page {
  .hh-bg {
    background-color: #F8FAFE;
  }
}

.homepage-cards {
  .card-secondary {
    display: flex;
    justify-content: center;
     align-items: center;
    .gif {
      border-radius: 20px;
      box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transform: scale(0.8);

      img {
       margin-top: -2px;
       margin-bottom: -2px;
      }
    }
    .bg-video-f {
      width: 706.177px;
      height: 616px;
      position: absolute;
      right: -292.703px;
      bottom: -129px;
      fill: linear-gradient(253deg, #CFB381 0%, #ECE1CD 98.29%);
      z-index: -9999;

    }
    .bg-video-r {
      width: 706.177px;
      height: 616px;
      position: absolute;
      left: -283.474px;
      bottom: -129px;
      fill: var(--Primary-linear, linear-gradient(230deg, #025344 2.03%, #00836B 103.43%));
      z-index: -9999;
    }
  }
}